*, :after, :before {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4, footer a {
    color: #666;
    font-size: .75rem;
    font-weight: 500;
}

a[href] {
    color: #069;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

a[href]:hover {
    color: #046;
}

button {
    border: 0;
    padding: 1rem;
    text-align: center;
}

blockquote {
    margin: 1.5rem 0;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

figcaption {
    color: #333;
    font-size: 0.75rem;
    font-weight: 500;
}

nav {
    background-color: #FFF;
    border-bottom: 1px solid #999;
    height: 4rem;
    padding: 0 1.5rem;
    width: 100%;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .icon {
    height: 2rem;
}

nav #logo {
    display: flex;
    align-items: center;
}

nav #logo-text, nav #logo-text-2 {
    font-size: 1.25rem;
    font-weight: 500;
}

nav #logo-text {
    color: #222;
}

nav #logo-text-2 {
    color: #999;
}

nav ul, footer ul {
    display: inline-flex;
}

ul:hover a[href] {
    color: #08C;
}

ul:hover a[href]:hover {
    color: #046;
}

nav a, footer a {
    display: inline-block;
    padding: .5rem;
}

.page {
    background-color: #FFF;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    padding-top: 4rem;
}

#banner {
    background-color: #DDD;
    padding: 2rem 1.5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner img {
    width: 60%;
}

#banner .content {
    margin-left: 1.5rem;
}

#banner h1 {
    margin-bottom: 2rem;
}

#banner button {
    background-color: #444;
    color: #FFF;
    font-size: 1.5rem;
    margin: 1.5rem 0;
    min-width: 60%;
}

#information {
    height: fit-content;
    width: 100%;

    display: flex;
}

#information-main {
    padding: 2rem 1.5rem;
    width: 60%;

    display: flex;
    flex-direction: column;
}

#information-main img {
    margin-bottom: 2rem;
    width: 100%;
}

#featured {
    border-left: 1px solid #DDD;
    padding: 2rem 0;
    width: 40%;

    display: flex;
    flex-direction: column;
}

.item h3, .item p, .item a {
    margin-bottom: .5rem;
}

#featured .item {
    padding: 1rem;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#featured .item img {
    width: 35%;
}

#featured .item .content {
    margin-left: 1rem;
}

#courses {
    background-color: #DDD;
    padding: 2rem 4.5rem;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#courses h2 {
    padding: 2rem 0;
    text-align: center;
}

#courses-list {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#courses .item {
    background-color: #FFF;
    margin: 0 1rem 2rem;
    max-width: 532px;
    min-width: 25%;
}

#courses .item img {
    width: 100%;
}

#courses .item h3 {
    padding: 1rem 1rem 0;
}

#courses .item .content {
    padding: 1rem 1rem 1.5rem;
}

footer {
    padding: 0 1rem 4rem;
    width: 100%;
}

footer .content {
    border-top: 1px solid #999;
    padding: 1rem 1.5rem;

    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}

footer a[href] {
    color: #666;
}

footer a[href]:hover {
    color: #444;
}

footer ul:hover a[href] {
    color: #999;
}

footer ul:hover a[href]:hover {
    color: #444;
}

@media only screen and (max-width: 767px) {
    nav #logo-text,
    nav #logo-text-2,
    nav ul,
    #information-main,
    #courses .item img,
    #courses .item .content {
        display: none;
    }

    #banner,
    #featured .item,
    #courses-list,
    footer .content {
        flex-direction: column;
    }

    #banner img {
        margin-bottom: 2rem;
        width: 100%;
    }

    #banner .content {
        margin-left: 0;
    }

    #banner button {
        width: 100%;
    }

    #featured {
        width: 100%;
    }

    #featured .item {
        align-items: flex-start;
    }

    #featured .item img {
        margin-bottom: 1rem;
    }

    #featured .item .content {
        margin-left: 0;
    }

    #courses {
        background-color: #FFF;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        padding: 1.5rem;

        align-items: stretch;
    }

    #courses h2 {
        padding: 0 0 2rem;
    }

    #courses .item {
        background-color: #DDD;
        margin: 0 1rem .5rem;
    }

    #courses .item h3 {
        margin: 0;
        padding: 1rem;
    }

    footer .content {
        align-items: center;
    }

    footer h4 {
        margin-bottom: 1rem;
    }
}

@supports (display: grid) {
    #courses-list {
        display: grid;
        gap: 2rem;
        grid-auto-rows: max-content;
        grid-template-columns: repeat(3, 1fr);
    }

    #courses .item {
        margin: 0;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        #courses-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media only screen and (max-width: 767px) {
        #courses-list {
            display: flex;
            gap: .5rem;
        }

        #courses .item {
            margin: 0;
        }
    }
}
